@import "./variables.scss";

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font: $font-size helvetica, sans-serif;
  padding: $spacing;
}

#parts-title {
  font-size: $font-size-large;
}
